@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0D1B2A ;
  color: #d9e2f1;
  min-height: 100vh;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 40rem;
  margin: 2rem auto;
  color: #fff;
}

#hero-img {
  display: block;
  width: 80%;
  height: 60vh;
  margin: 2rem auto;
  object-fit: cover;
}

#main-header h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  color: #84b0fc;
}

#welcome-header {
  height: 950px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../src/assets/idk.png');
  /*background-color: #096267;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2915%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsG2926' transform='translate(0%2c 0)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2926' transform='translate(600%2c 0)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2926' transform='translate(1200%2c 0)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2915'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cg id='SvgjsG2919'%3e%3cpath d='M14.59 13.6L-0.62 8.66C-0.98 9.76-0.31 10.54 0.37 10.76L12.55 14.72c0.81 0.26 1.72-0.14 2.04-1.12zM14.23 4.89L5.15 1.94l-1.94 5.96c-0.26 0.81 0.23 1.68 0.98 1.92l5.89 1.91c0.85 0.27 1.66-0.25 1.9-0.98l0.16-0.5c1.68 0.54 3.31-0.32 3.79-1.79 0.49-1.5-0.31-3.12-1.7-3.57zM12.51 9.11L13.55 5.91l0.31 0.1c1.15 0.37 1.17 1.58 0.99 2.11-0.28 0.85-1.17 1.46-2.34 0.99z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2922'%3e%3cpath d='M3.1 6.1c0.28 0.09 0.59-0.06 0.68-0.34 0.09-0.28-0.07-0.58-0.35-0.67-0.27-0.09-0.59 0.06-0.68 0.34-0.09 0.28 0.07 0.58 0.35 0.67M0.25 6.01a0.06 0.06 0 0 1 0-0.05c0.01-0.03 0.04-0.04 0.07-0.03l1.62 0.53c0.08 0.03 0.16-0.02 0.19-0.1 0.02-0.06 0.01-0.11-0.04-0.16L0.85 5.02a0.1 0.1 0 0 1-0.02-0.09c0.01-0.02 0.02-0.05 0.05-0.06 0 0 4.95-2.15 12.4 3.91l2.72-0.38c0.03 0 0.06 0 0.08 0.01 0.1 0.03 0.16 0.14 0.12 0.24a0.21 0.21 0 0 1-0.06 0.09l-1.94 1.27 0.83 2.16c0.01 0.04 0.01 0.07-0.01 0.1-0.03 0.1-0.14 0.15-0.24 0.12-0.02-0.01-0.05-0.02-0.07-0.04l-1.97-1.9S3.54 11.04 0.25 6.01' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2923'%3e%3cpath d='M12.88 3.99L6.44 1.9C2.4 0.58 1.83 3.32 1.83 3.32l13.95 4.54S16.93 5.31 12.88 3.99zM3.11 12.14l6.45 2.09c4.05 1.31 4.62-1.43 4.61-1.43L0.22 8.27s-1.15 2.56 2.89 3.87z m10.87-0.82a1.26 1.26 0 0 0 1.59-0.81c0.21-0.66-0.15-1.36-0.81-1.57L1.96 4.78C1.3 4.56 0.59 4.92 0.38 5.58a1.26 1.26 0 0 0 0.8 1.58l12.8 4.16z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2917'%3e%3cpath d='M9.41 1.18a0.29 0.29 0 0 1-0.15-0.34c0.03-0.1 0.12-0.17 0.22-0.2-0.07-0.08-0.1-0.18-0.06-0.29C9.47 0.2 9.63 0.12 9.78 0.17l1.36 0.44c0.15 0.05 0.23 0.21 0.18 0.36-0.03 0.11-0.12 0.18-0.22 0.2 0.07 0.07 0.1 0.19 0.07 0.29a0.29 0.29 0 0 1-0.32 0.19l0.18 5.05c0.01 0.32-0.04 0.67-0.15 1l-2.6 8a0.57 0.57 0 0 1-0.72 0.36L3.59 14.78A0.57 0.57 0 0 1 3.23 14.06L5.83 6.06c0.11-0.33 0.27-0.64 0.46-0.9l3.12-3.98z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2916'%3e%3cpath d='M12.89 2.33a0.29 0.29 0 0 1-0.15-0.35c0.03-0.11 0.12-0.17 0.23-0.2-0.07-0.08-0.1-0.19-0.07-0.29 0.05-0.16 0.22-0.24 0.37-0.19l1.38 0.45c0.16 0.05 0.24 0.21 0.19 0.37-0.03 0.11-0.12 0.18-0.23 0.2 0.07 0.08 0.11 0.19 0.07 0.29a0.29 0.29 0 0 1-0.32 0.2l0.18 5.13c0.01 0.33-0.05 0.68-0.15 1.01l-2.64 8.13a0.58 0.58 0 0 1-0.73 0.37L6.98 16.14a0.58 0.58 0 0 1-0.37-0.73L9.26 7.28c0.11-0.33 0.27-0.65 0.46-0.91l3.17-4.04zM3.68 4.45a0.21 0.21 0 0 0 0.12 0.09c0.11 0.04 0.23-0.03 0.27-0.14 0.01-0.04 0.01-0.07 0-0.11l-0.05-0.6a0.34 0.34 0 0 0-0.23-0.28 0.34 0.34 0 0 0-0.42 0.48L3.68 4.45z m0.72 0.34c0 0.05 0 0.11-0.02 0.16-0.07 0.21-0.29 0.33-0.5 0.25-0.08-0.02-0.14-0.07-0.18-0.13l-0.67-1.06a0.71 0.71 0 0 1-0.01-0.48c0.12-0.37 0.51-0.58 0.88-0.46 0.27 0.09 0.46 0.34 0.47 0.61l0.03 1.11z m2.7 1.62a0.21 0.21 0 0 1 0.13 0.27l-0.1 0.31c-0.04 0.11-0.16 0.17-0.26 0.13l-0.19-0.06c0.18 0.21 0.26 0.51 0.17 0.79l-2.22 6.84c-0.11 0.35-0.48 0.54-0.83 0.43L0.22 13.95A0.66 0.66 0 0 1-0.2 13.12l2.22-6.84c0.09-0.29 0.33-0.48 0.6-0.54l-0.19-0.06a0.21 0.21 0 0 1-0.13-0.26l0.1-0.31c0.04-0.11 0.15-0.17 0.26-0.14L7.1 6.41z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2918'%3e%3cpath d='M7.92 6.53c-0.2 0.63-0.99 1.11-1.73 0.87l-2.11 6.49c-0.49 1.5-2.53 0.84-2.05-0.66L4.14 6.73c-0.72-0.23-1.17-0.99-0.9-1.82L5.14-0.92c0.16-0.51 0.9-0.29 0.72 0.26l-1.4 4.31 0.62 0.19L6.49-0.5c0.15-0.47 0.87-0.27 0.7 0.25l-1.41 4.32 0.64 0.21L7.83-0.06c0.16-0.49 0.85-0.28 0.67 0.24l-1.4 4.32 0.62 0.2L9.13 0.37c0.16-0.48 0.88-0.27 0.71 0.25L7.92 6.53z m6.95-2.79l-4.02 12.35c-0.48 1.47-2.52 0.78-2.05-0.67l1.52-4.67-1.09-0.36L11.72 2.72c0.75-2.31 3.9-1.29 3.15 1.02z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2921'%3e%3cpath d='M13.01 5.68l-5.04 10.7L3.18 14.82 5.4 3.2l5.84 1.9L13.71 1.44 14.3 1.84l-2.35 3.49 1.06 0.35z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2920'%3e%3cpath d='M16.57 7.39l-4.44 9.42L7.92 15.44 9.87 5.21l5.14 1.68L17.18 3.67 17.71 4.01l-2.08 3.08 0.94 0.3zM7.41 10.74s0.62-1.38-1.56-2.09L2.37 7.52c-2.18-0.71-2.49 0.77-2.49 0.77l7.53 2.45zM-0.99 10.96s-0.62 1.38 1.56 2.09l3.48 1.13c2.18 0.71 2.49-0.77 2.5-0.77L-0.99 10.96z m7.43 1.65a0.68 0.68 0 0 0 0.86-0.43c0.11-0.35-0.08-0.74-0.44-0.86L-0.05 9.08C-0.4 8.96-0.79 9.16-0.9 9.51a0.68 0.68 0 0 0 0.43 0.86l6.91 2.24z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2925'%3e%3cpath d='M10.55 7.9l-0.58 1.8 4.43 1.44A0.94 0.94 0 0 0 15.59 10.53 0.94 0.94 0 0 0 14.98 9.34l-4.43-1.44z m-8.75-1.42l0.46-0.03 0.11 0.52 0.52-0.17 0.16 0.51 0.5-0.19 0.19 0.49L4.22 7.4l0.22 0.48 0.48-0.25 0.24 0.48 0.48-0.24 0.24 0.48 0.48-0.25 0.24 0.48 0.47-0.25 0.25 0.48 0.47-0.24 0.24 0.48 0.48-0.25 0.24 0.48 0.47-0.25 0.25 0.48L10.04 7.74 0.66 4.69l0 0.01a5.67 5.67 0 0 0 1.14 1.78'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2924'%3e%3cpath d='M8.6 5.32c-0.16 0.5-0.79 0.88-1.38 0.69l-2.74 8.43c-0.39 1.2-2.02 0.67-1.63-0.53L5.58 5.48c-0.57-0.19-0.93-0.79-0.71-1.45L6.38-0.61c0.13-0.4 0.72-0.23 0.58 0.21l-1.12 3.43 0.49 0.16L7.45-0.27c0.12-0.37 0.69-0.21 0.56 0.19l-1.12 3.45 0.5 0.16L8.51 0.08C8.64-0.31 9.19-0.15 9.06 0.27l-1.12 3.44 0.5 0.16L9.56 0.42c0.12-0.39 0.7-0.22 0.57 0.2l-1.53 4.7zM14.12 3.1l-4.25 13.09c-0.38 1.17-2.01 0.62-1.63-0.53L9.93 10.46l-0.87-0.28L11.62 2.29c0.6-1.84 3.1-1.02 2.5 0.81z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2926'%3e%3cuse xlink:href='%23SvgjsG2916' transform='translate(0%2c 0) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2917' transform='translate(0%2c 60) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2917' transform='translate(0%2c 120) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2918' transform='translate(0%2c 180) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2919' transform='translate(0%2c 240) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2916' transform='translate(0%2c 300) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2920' transform='translate(0%2c 360) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2918' transform='translate(0%2c 420) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2917' transform='translate(0%2c 480) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2917' transform='translate(0%2c 540) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2921' transform='translate(60%2c 0) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2922' transform='translate(60%2c 60) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2919' transform='translate(60%2c 120) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2917' transform='translate(60%2c 180) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2918' transform='translate(60%2c 240) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2919' transform='translate(60%2c 300) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2917' transform='translate(60%2c 360) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2920' transform='translate(60%2c 420) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2923' transform='translate(60%2c 480) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2919' transform='translate(60%2c 540) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2923' transform='translate(120%2c 0) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2922' transform='translate(120%2c 60) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2920' transform='translate(120%2c 120) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2923' transform='translate(120%2c 180) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2918' transform='translate(120%2c 240) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2924' transform='translate(120%2c 300) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2916' transform='translate(120%2c 360) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2917' transform='translate(120%2c 420) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2920' transform='translate(120%2c 480) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2922' transform='translate(120%2c 540) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2920' transform='translate(180%2c 0) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2925' transform='translate(180%2c 60) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2920' transform='translate(180%2c 120) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2918' transform='translate(180%2c 180) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2924' transform='translate(180%2c 240) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2918' transform='translate(180%2c 300) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2921' transform='translate(180%2c 360) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2925' transform='translate(180%2c 420) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2918' transform='translate(180%2c 480) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2922' transform='translate(180%2c 540) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2925' transform='translate(240%2c 0) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2924' transform='translate(240%2c 60) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2916' transform='translate(240%2c 120) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2916' transform='translate(240%2c 180) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2925' transform='translate(240%2c 240) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2919' transform='translate(240%2c 300) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2920' transform='translate(240%2c 360) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2917' transform='translate(240%2c 420) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2920' transform='translate(240%2c 480) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2921' transform='translate(240%2c 540) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2919' transform='translate(300%2c 0) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2923' transform='translate(300%2c 60) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2920' transform='translate(300%2c 120) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2919' transform='translate(300%2c 180) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2922' transform='translate(300%2c 240) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2918' transform='translate(300%2c 300) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2919' transform='translate(300%2c 360) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2918' transform='translate(300%2c 420) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2921' transform='translate(300%2c 480) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2922' transform='translate(300%2c 540) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2920' transform='translate(360%2c 0) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2920' transform='translate(360%2c 60) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2916' transform='translate(360%2c 120) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2922' transform='translate(360%2c 180) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2924' transform='translate(360%2c 240) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2916' transform='translate(360%2c 300) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2919' transform='translate(360%2c 360) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2918' transform='translate(360%2c 420) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2920' transform='translate(360%2c 480) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2920' transform='translate(360%2c 540) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2924' transform='translate(420%2c 0) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2922' transform='translate(420%2c 60) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2922' transform='translate(420%2c 120) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2925' transform='translate(420%2c 180) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2919' transform='translate(420%2c 240) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2922' transform='translate(420%2c 300) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2916' transform='translate(420%2c 360) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2917' transform='translate(420%2c 420) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2916' transform='translate(420%2c 480) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2921' transform='translate(420%2c 540) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2921' transform='translate(480%2c 0) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2920' transform='translate(480%2c 60) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2924' transform='translate(480%2c 120) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2921' transform='translate(480%2c 180) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2923' transform='translate(480%2c 240) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2923' transform='translate(480%2c 300) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2921' transform='translate(480%2c 360) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2921' transform='translate(480%2c 420) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2925' transform='translate(480%2c 480) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2925' transform='translate(480%2c 540) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2925' transform='translate(540%2c 0) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2916' transform='translate(540%2c 60) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2916' transform='translate(540%2c 120) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2924' transform='translate(540%2c 180) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2924' transform='translate(540%2c 240) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2921' transform='translate(540%2c 300) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2916' transform='translate(540%2c 360) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2925' transform='translate(540%2c 420) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2923' transform='translate(540%2c 480) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2918' transform='translate(540%2c 540) scale(2)' fill='rgba(22%2c 73%2c 72%2c 1)'%3e%3c/use%3e%3c/g%3e%3c/defs%3e%3c/svg%3e"); */
}

#city-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

#hero-image {
  width: 20rem;
  max-width: 40%;
  position: absolute;
  bottom: 10%;
  left: 25%;
  object-fit: cover;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.5));
}

#welcome-header-content {
  width: 40rem;
  position: absolute;
  top: 30%;
  left: calc(50% - 20rem);
  z-index: 1;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  text-align: center;
}

#welcome-header-content h1 {
  font-size: 4.5rem;
  color: #008080;
  margin: 2rem 0;
}

.cta-link {
  display: inline-block;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}


#welcome-content section {
  margin: 6rem 0;
}

#welcome-content h1 {
  font-size: 2.5rem;
  margin: 2rem 0;
  color: #C5E4E7 ;
}

.welcome-statement{
  text-align: center;
}

main {
  width: 80%;
  margin: 1rem auto;
}

#new-challenge label {
  display: block;
  margin-bottom: 0.15rem;
  font-weight: bold;
  font-size: 0.8rem;
  font-family: 'Quicksand', sans-serif;
  color: #414956;
}

#new-challenge input,
#new-challenge textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #d9e2f1;
  background-color: #fff;
  color: #414956;
  font-size: 0.8rem;
  font-family: 'Quicksand', sans-serif;
}

#new-challenge-images {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, 3rem);
  list-style: none;
  margin: 0;
  padding: 0;
}

#new-challenge-images li {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid transparent;
}

#new-challenge-images li.selected {
  border: 2px solid #0f61ef;
}

#new-challenge-images li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#challenges {
  background-color: #22323a;
  padding: 1rem;
  border-radius: 6px;
}

#tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
}

#header-tagline{
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#header-heading{
  font-size: 4.5rem;
  color: #008080;
}

#tabs button {
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  text-align: left;
  cursor: pointer;
  border-radius: 4px 4px 0 0;
  background-color: transparent;
  color: #b0caf9;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
}

#tabs button:hover,
#tabs button.selected {
  /* background-color: #355767; */
  color: #fff;
}

#tabs .active-tab-indicator {
  border: 1.5px solid #0f86ef;
  border-radius: 8px;
}
.bottom-wave {
  position: relative; /* Adjust depending on your layout */
  width: 100%;        /* Full width */
  height: 200px;      /* Set the height of the wave */
}

.bottom-wave svg {
  width: 100%;        /* Make the SVG span the entire width */
  height: 100%;       /* Ensure the height is fully occupied */
  display: block;     /* Ensure no extra gaps are introduced */
}
.challenge-items {
  width: 100%;
  max-width: 90%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  list-style: none;
  margin: 2rem 0 0 0;
  padding: 0;
}

.challenge-item {
  width: 100%;
}

.challenge-item header {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.challenge-item-meta {
  width: 100%;
}

.challenge-item header h2 {
  margin: 0;
  font-size: 1.25rem;
  color: #b1c1d9;
}

.challenge-item header p {
  margin-top: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.7rem;
}

.challenge-item-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.challenge-item-actions button{
  cursor: pointer;
  font: inherit;
  background: transparent;
  border: none;
  color: #7aaafc;
  padding: 0;
}

.challenge-item-actions button:hover {
  color: #5d7bf2;
}

.challenge-item-actions .btn-negative {
  color: #ff7b7b;
}

.challenge-item-actions .btn-negative:hover {
  color: #ff4f4f;
}

.challenge-item img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}

.challenge-item-details button {
  cursor: pointer;
  font: inherit;
  background: transparent;
  border: none;
  color: #7aaafc;
  padding: 0;
}

.challenge-item-details-icon {
  display: inline-block;
  font-size: 0.85rem;
  margin-left: 0.25rem;
  /*transition: transform 0.3s ease-out;*/
}

/*.challenge-item-details.expanded .challenge-item-details-icon {
  transform: rotate(180deg);
}*/

.challenge-item-description {
  margin: 0;
}

.new-challenge-actions button,
.button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #0f61ef;
  color: #fff;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.new-challenge-actions button:hover,
.button:hover {
  background-color: #0f3cef;
}

.modal {
  top: 25%;
  border-radius: 6px;
  padding: 1.5rem;
  width: 30rem;
  max-width: 90%;
  z-index: 10;
  /*animation: slide-up-fade-in 2s ease-out forwards;*/
}
.modal img {
  width:15%;
  height: auto;
  margin: auto;
  display: block;
}
@media (max-width:500px) {
  .modal img {
    width:60px;
    height: auto;
  }
}

.modal-content{
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.03rem;

}
.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}
.login-form{
  padding: 3rem;
  padding-top: 20px;
  margin: auto;
}
.login-form div{
  display: flex;
  justify-content: space-around;
}

.login-form div button{
  padding: 0.5rem 2rem 0.5rem 2rem ;
}
@media (max-width:768px) and (min-width:411px){
  .login-form div button{
    padding:inherit;
  }
}
@media (max-width:411px){
  .login-form div {
    flex-direction: column;
  }
}
.modal-actions .text-button {
  color: #1d1a16;
}

.modal-actions .text-button:hover,
.modal-actions .text-button:active {
  color: #312c1d;
}


.modal-actions button {
  cursor: pointer;
  font: inherit;
  background: transparent;
  border: none;
  color: #7aaafc;
  padding: 10px;
}

.modal-actions button:hover {
  color: #5d7bf2;
}

.modal-actions .btn-negative {
  background-color: #ff7b7b;
  color: white;
  border-radius: 0.5rem;
}
.modal-actions .btn-positive {
  float: left;
  background-color: #518564;
  color: white;
  border-radius: 0.5rem;
}
.modal-actions .btn-positive:hover {
  background-color: #089d15;
  color: white;
}

.modal-actions .btn-negative:hover {
  background-color: #ff4f4f;
  color: white;
}

@keyframes slide-up-fade-in{
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.modal h2 {
  font-family: 'Roboto', sans-serif;  /* Use a readable and modern font */
  font-size: 2rem;                    /* Keep the title large, but not overwhelming */
  font-weight: bold;                  /* Make the text bold for emphasis */
  color: #333;                        /* Dark color for readability */
  padding: 10px 20px;
  margin: auto;
  text-align: center;
}
.nav{
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
  color: #0f454f;
  display: flex;
  justify-content: space-between;  /* Pushes left and right sections apart */
  align-items: center;             /* Centers items vertically */
  padding: 20px 40px; 

}
.fixed-nav{
  position: fixed;
  background: linear-gradient(#222c31, #111d32);
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 2px 2px -2px gray; /* Optional: shadow effect */
  transition:  0.3s ease;
  display: flex;
  justify-content: space-between;  /* Pushes left and right sections apart */
  align-items: center;             /* Centers items vertically */
  padding: 20px 40px; 
  height: 80px;
}
.navbar-left {
  display: flex;
  align-items: center; /* Align logo and heading in a row */
}
.navbar-logo {
  height: 50px;  /* Adjust logo height */
  margin-right: 10px; /* Spacing between logo and heading */
}
.navbar-heading {
  font-size: 24px;
  font-weight: bold;
}
.navbar-menu {
  list-style: none;    /* Remove bullet points from the list */
  display: flex;
  gap: 20px;           /* Spacing between menu items */
}

.nav .navbar-menu li {
  font-size: 18px;
  color: #0f454f;
}

.navbar-menu li a {
  text-decoration: none;   /* Remove underlines from links */
  color: #333;             /* Text color for menu items */
  transition: color 0.3s;  /* Smooth hover effect */
}

.navbar-menu li a:hover {
  color: teal;             /* Change color on hover */
}

.nav, .fixed-nav a{
  color: inherit;
}

/* Hamburger icon */
.navbar-hamburger {
  display: none; /* Hidden by default (will be shown on mobile) */
  flex-direction: column;
  cursor: pointer;
}

.hamburger-icon {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .nav, .fixed-nav {
    padding: 10px 20px;      /* Adjust padding for smaller screens */
  }

  .navbar-left {
    margin-bottom: 10px;     /* Add space between logo/heading and menu */
  }

  /* Hamburger icon appears on mobile */
  .navbar-hamburger {
    display: flex; /* Show hamburger on smaller screens */
  }
  /* Hide menu by default (it appears when 'open' class is added) */
  .navbar-menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: left;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  /* Show menu when 'open' class is added */
  .navbar-menu.open {
    display: flex;
  }

  /* Menu items on mobile */
  .navbar-menu li {
    font-size: 16px;
    padding: 10px 0;
  }
}
.new-challenge-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.new-challenge-actions button:first-of-type {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: transparent;
  color: #314a77;
  border: none;
  box-shadow: none;
}

.new-challenge-actions button:first-of-type:hover {
  background-color: transparent;
  color: #0f3cef;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9;
}

.badge {
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  background-color: #0f61ef;
  color: #fff;
  font-size: 0.5rem;
}

.icon {
  position: absolute; /* Makes sure the icon floats above other content */
  top: 50%; /* Start in the middle of the screen */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px; /* Adjust size */
  height: 50px; /* Adjust size */
}
.user-actions{
  display: flex;
  justify-content: space-around;
}
.user-actions button{
  width: fit-content;
  border-radius: 4px;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #006b80;
  color: #fff;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
}
.user-actions button:hover{
  cursor: pointer;
}



@media (max-width:576px){
  #welcome-header-content {
    margin: auto;
    text-align: center;
    width: 30rem;
    right: 1rem;
    left: auto;
    max-width: 90%;
  }
}

@media (min-width:576px) and (max-width:768px){
  #welcome-header-content {
    margin: auto;
    text-align: center;
    width: 30rem;
    right: 1rem;
    left: auto;
    max-width: 90%;
  }
}


/*Form - login*/
Form .labels{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
Form .form-inputs {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
}

#icon-modal{
  padding: 5px;
}

.para-center{
  text-align: center;
}

.error-message{
  color: red;
  font-weight: bold;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
  background-color: #f8d7da;
}

/*searchbar*/
.search-div{
  margin-top: 3rem;
  display: flex;
}
.search-input{
  width: 85%;
  height: fit-content;
  margin: 5px;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
}
.search-button{
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 5%;
  margin: 5px;
  margin-top: 8px;
  cursor: pointer;
}
.search-button img{
  width:100%;
}